Source: luamq
Section: interpreters
Priority: optional
Maintainer: Christian Pointner <equinox@spreadspace.org>
Build-Depends: debhelper (>= 5), liblua5.1-0-dev
Standards-Version: 3.8.2
Homepage: http://www.spreadspace.org/

Package: liblua5.1-mq
Architecture: any
Depends: ${shlibs:Depends}
Description: luamq library for the Lua language version 5.1
 This package contains the luamq library a interface to posix
 message queues.
